@import './variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  background-color: $blue-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
